body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color:white;
}

img {
    border-radius: 25px;
    border: solid white;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #ffadab;
    height: 60px;

}

.white-bold{
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.75);
}

.header-text{
    color:white;
    font-weight: bold;
    font-size: 32px;

}

.link-container{
    display:flex;
    gap: 12px;
}

.head-info{
    display:flex;
    justify-content: space-around;
    align-content: center;
    background: #fff2aae3;
    gap: 10px;
    height: 400px;
    padding: 20px;
}

.head-text{
    display:flex;
    flex-direction: column;
    color: white;
    background-color: #ffadab;
    border-radius: 25px;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
    flex-wrap: wrap;
    padding: 20px;
    width: 400px;
    height: 170px;
    gap: 10px;
}

.bold-text{
    font-size: 32px;
    font-weight: bold;
}
.head-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
}
.head-image-text{
    padding:8px;
    font-size:14px;
    background-color: #ffadab;
    color: rgba(255, 255, 255, 0.863);
    border-radius: 25px;
}

.slideshow{
    display:flex;
    justify-content: center;
    gap:50px;
    height: 500px;
    padding:20px;
    padding-bottom: 100px;
    border: 1px solid black;
    flex-wrap: wrap;
    background-color: #6A8DB5;
    color: white;
}

.head-slideshow{
    font-size: 40px;
    flex-basis: 100%;
    margin-bottom: -150px;
    display:flex;
    align-self: center;
    justify-content: center;
}

.slideshow-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

.slideshow-image img{
    border: 3px solid #6A8DB5;
    border-bottom: 0px solid #6A8DB5
}



.slideshow-text{
    
    background-color: #6a8db5cc;
    border: 2px solid #557497b0;
    border-top: 0px solid #6A8DB5;
    min-width: 180px;
    border-radius: 15px;
    padding: 10px;
}

.quote{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px;
    background-color: #ffadabce;
    
}   

.quote-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    font-size: 30px;
    
}

.quote-author{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin-right: -325px;
    
}

.quote img{
    border: 1px;
}

.quote-alignment{
    display: flex;
    gap:20px;
}

.quote-brownie{
    margin-bottom: -40px;
}

.quote-author-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding:100px;
    
}

.action-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: #6A8DB5;
    width: 1000px;
    padding: 50px;
    border-radius: 10px;
}

.action-bold{
    font-size: 35px;
    font-weight: bold;
}

.action-button button{
    border-radius: 18px;
    background-color: #6A8DB5;
    padding: 10px;
    border: 2px solid white;
    width: 150px;
}

.action-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}